a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* main page */

.body-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 2fr;
  margin-top: 100px;
}

/* main body */

.content-body {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main a {
  text-decoration: none;
  color: black;
}

.main--article-section {
  max-height: 150px;
  border: 2px solid;
  margin: 5px;
  padding: 5px;
}

.main--article-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#sort-by-selector {
  margin: 5px;
  margin-top: 10px;
}

.main--article-section-container h2 {
  grid-row: 1/2;
  grid-column: 1 / span 2;
}

.article-info {
  grid-row: 2;
  grid-column: 1/2;
}

.created-at {
  grid-row: 2;
  grid-column: 2/3;
}

.homepage-article-image {
  align-self: center;
  justify-self: end;
  height: 130px;
  width: auto;
  grid-row: 1/3;
  grid-column: 3 / span 1;
}

.created-at {
  justify-self: end;
}

.main-page-list {
  list-style: none;
  justify-self: center;
}
.main-page-list li {
  float: left;

  padding: 10px;
}

/* loading */

#loading-section h2 {
  grid-column: 2/3;
  grid-row: span 2;
  justify-self: center;
}

/* comments page */

.comments-body .article-section {
  height: 120px;
  width: 750px;
  display: grid;
  border: 2px solid;
  margin: 5px;
  padding: 5px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.article-section h2 {
  grid-row: 1/2;
  grid-column: 1 / span 2;
  margin: 5px;
}

.article-section img {
  align-self: center;
  justify-self: end;
  height: 100px;
  width: auto;
  grid-row: 1/3;
  grid-column: 3 / span 1;
}
